
.contact-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background: #000;
  padding: 1rem;
}

.contact-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background: #000;
  padding: 1rem;
}

.contact-rect,
.contact-square {
  background: #111;
  border: 1px solid #ffc107;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: .7rem;
  transition: 0.3s ease;
}

.contact-rect {
  grid-column: span 2;
}

.contact-square {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
}

.contact-rect:hover,
.contact-square:hover {
  background: #ffc107;
  color: black;
  transform: translateY(-3px);
}

.contact-square i,
.contact-rect i {
  transition: 0.3s;
}

.contact-square:hover i,
.contact-rect:hover i {
  transform: scale(1.1);
}

.contact-layout {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

.contact-layout .card {
  padding: 2rem;
  background: #111;
  color: white;
  border-radius: 10px;
  max-width: 450px;
}

.contact-layout input,
.contact-layout textarea,
.contact-layout select {
  width: 100%;
  margin-bottom: 1rem;
  padding: .7rem;
  border-radius: 6px;
  border: none;
  background: #1a1a1a;
  color: white;
}