* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.navbar {
  background: #000;
  border-bottom: 1px solid rgba(255, 255, 0, 0.4);
}

.navbar .nav-link {
  color: #ffd700 !important;
  position: relative;
  padding: 8px 12px;
  transition: 0.25s ease;
}

.navbar .nav-link:hover {
  color: #fff200 !important;
  text-shadow: 0 0 8px rgba(255, 230, 0, 0.9);
  transform: translateY(-2px);
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #ffd700;
  box-shadow: 0 0 8px rgba(255, 230, 0, 0.9);
  transition: width 0.3s;
}

.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  width: 100%;
}

.navbar .nav-link.active {
  color: #fffbc1 !important;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 230, 0, 1);
}

.project-grid,
.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.card {
  background: linear-gradient(145deg, #0f0f0f, #1a1a1a);
  border: 1px solid rgba(255, 215, 0, 0.2);
  border-radius: 15px;
  padding: 2rem;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.05);
}

.card:hover {
  transform: translateY(-8px);
  border-color: #FFD700;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.3);
}

.card h3,
.card h5 {
  color: #FFD700;
}

.card p {
  color: #ccc;
}

.btn,
.btn-primary {
  color: #000;
  background: #FFD700;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover,
.btn-primary:hover {
  background: #fff;
  color: #000;
}

.tyc-btn {
  width: 100%;
  padding: .8rem;
  background: #ffc107;
  color: black;
  font-weight: bold;
  border-radius: 6px;
}

footer {
  background: #0a0a0a;
  padding: 3rem 1.5rem;
  text-align: center;
  border-top: 1px solid #222;
}

footer h6 {
  color: #FFD700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: #FFD700;
}

.footer-bottom {
  border-top: 1px solid #222;
  margin-top: 2rem;
  padding-top: 1rem;
  color: #ccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .project-grid {
    grid-template-columns: 1fr;
  }
}







