#projects-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

#projects-container .card img {
  object-fit: cover;
  height: 180px;
}

#projects-container .card .btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}
