.ws_box form input,
.ws_box form select,
.ws_box form textarea {
  width: 100%;

  padding: 10px 12px;

  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 8px;

  border: 1px solid #ccc;

  background-color: #1a1a1a;

  color: #fff;
  font-size: 0.95rem;
  transition: all 0.2s ease-in-out;
}

.ws_box form input:focus,
.ws_box form select:focus,
.ws_box form textarea:focus {
  outline: none;
  border-color: #00c851;
  box-shadow: 0 0 5px #00c851;
  background-color: #222;
}

.ws_box form button {
  cursor: pointer;
  background-color: #00c851;
  border: none;
  color: #fff;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.ws_box form button:hover {
  background-color: #007e33;
}
