#projects-container .card {


  background-color: #111;
  color: white;
  border-radius: 0.5rem;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

#projects-container .card img {
  object-fit: cover;

}

#projects-container .card .btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.container{
margin-left: 5% !important ;
margin-right: 15% !important ;
}