<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-warning">
  <div class="container-fluid">

    <!-- Logo (opcional: podés usar data-page para que también cargue home) -->
    <a class="navbar-brand text-warning fw-bold" href="#" data-page="./view/home.html">
      MandaleStart
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link text-warning" href="#" data-page="./view/home.html">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-warning" href="#" data-page="./view/contacto.html">Contactame</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-warning" href="#" data-page="./view/projects.html">Proyectos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-warning" href="#" data-page="./view/aboutme.html">Sobre mí</a>
        </li>

      </ul>
    </div>
  </div>
</nav>